body{
    margin: 0;
    padding: 0;
    background: #7fcce3;
    font-family: Arial;
}
.nav ul{
    list-style: none;
    background: green;
    padding: 0;
    margin: 0;
}
.nav{
    display:inline-block;
}
.nav a{
    text-decoration: none;
    color:#ccc;
    width: 100px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial;
    text-align: center;
    font-size: 14px;
}
.nav a:hover{
    background: lightgreen;

    
}
#sleeve{
    margin-left: 20px;
}
#run{
    border: 4px darkblue;
}